{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}Modifier le profil{% endblock %}</h3>
{% endblock %}
{% block content %}
    <form action="{{ url_for('auth.count_modification') }}" method="POST">
        <label for="username">Nom d'utilisateur</label>
        <input name="username" id="username"><br>

        <label for="mail">Adresse e-mail</label>
        <input type="email" name="mail" id="mail"><br>

        <label for="telephone">Numéro de téléphone</label>
        <input name="telephone" id="telephone"><br>

        <label for="tarif">Tarif</label>
        <input type="number" name="tarif" id="tarif" min="0"><br>
        
        <label for="niveaux"><h5>Quelles matières enseignez-vous ?</h5></label>
        {% for subject in subjects %}
            <div>
                <input type="checkbox" name="matieres[]" id="{{ subject.id }}" value="{{ subject.id }}">
                <label for="{{ subject.id }}">{{ subject.subject_name }}</label>
            </div>
        {% endfor %}
        
        <label for="niveaux"><h5>Quels niveaux enseignez-vous ?</h5></label>
        {% for level in levels %}
            <div>
                <input type="checkbox" name="niveau[]" id="{{ level.level_id }}" value="{{ level.level_id }}">
                <label for="{{ level.level_id }}">{{ level.level_name }}</label>
            </div>
        {% endfor %}

        <label for="niveaux"><h5>Quels types de cours vous convient ?</h5></label>
        {% for course_type in course_types %}
            <div>
                <input type="checkbox" name="course_type[]" id="{{ course_type.course_type_id }}" value="{{ course_type.course_type_id }}">
                <label for="{{ course_type.course_type_id }}">{{ course_type.course_type_name }}</label>
            </div>
        {% endfor %}
        
        <input type="submit" value="Enregistrer les modifications">
    </form>
{% endblock %}