
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Connexion{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required><br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br>

    <p>Vous n'avez pas encore de compte ?<a href="{{ url_for('auth.select_role') }}"> Créez-en un !</a></p><br>

    <p><a href="{{ url_for('auth.password_change') }}">Mot de passe oublié ?</a></p><br>

    <input type="submit" value="Log in">
  </form>
{% endblock %}