{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}Inscription{% endblock %}</h3>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Nom d'utilisateur</label>
        <input name="username" id="username" required><br>

        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required><br>

        <label for="email">Adresse e-mail</label>
        <input type="email" name="email" id="email" required><br>

        <label for="phone">Numéro de téléphone</label>
        <input type="tel" name="phone" id="phone" required><br>

        <label for="tarif">Tarif</label>
        <input type="number" name="tarif" id="tarif" min="0" required><br>

        <label for="matieres"><h5>Quelles matières enseignez-vous ?</h5></label>
        {% for subject in subjects %}
            <div>
                <input type="checkbox" name="matieres[]" id="{{ subject.id }}" value="{{ subject.id }}">
                <label for="{{ subject.id }}">{{ subject.subject_name }}</label>
            </div>
        {% endfor %}
        
        <label for="niveaux"><h5>Quels niveaux enseignez-vous ?</h5></label>
        {% for level in levels %}
            <div>
                <input type="checkbox" name="niveau[]" id="{{ level.level_id }}" value="{{ level.level_id }}">
                <label for="{{ level.level_id }}">{{ level.level_name }}</label>
            </div>
        {% endfor %}

        <label for="niveaux"><h5>Quels types de cours vous convient ?</h5></label>
        {% for course_type in course_types %}
            <div>
                <input type="checkbox" name="course_type[]" id="{{ course_type.course_type_id }}" value="{{ course_type.course_type_id }}">
                <label for="{{ course_type.course_type_id }}">{{ course_type.course_type_name }}</label>
            </div>
        {% endfor %}

        <label for="photo"><h5>Ajouter une photo</h5></label>
        <input type="file" name="photo" id="photo" accept="image/*"><br>

        <input type="submit" value="Inscription">
    </form>
{% endblock %}