{% extends 'base.html' %}

{% block header %}
        <h1>{% block title %}Trouve l'enseignant idéal pour toi !{% endblock %}</h1>
{% endblock %}

{% block content%}
    
    <p>
      <button type="button"><a href="{{ url_for('home.research_teacher') }}">Rechercher un enseignant</a></button>
    </p> 

    <p>
        <button type="button"><a href="{{ url_for('auth.register') }}">Donner des cours</a></button>
    </p>
  <div class="middle-section">
    <p>Comment trouver le meilleur enseignant selon tes besoins ?</p>
  </div>

  <div class="etape">
      <h2>1. Selectionne tes besoins</h2>
      <p>Selectionne tout d'abord ton niveau scolaire, puis les branches dans lesquelles tu as besoin de cours de soutien, et finalement, si tu as des préférences pour des cours en ligne ou à domicile.</p>
  </div>

  <div class="etape">
    <h2>2. Choisis ton enseignant</h2>
    <p>Parmi la liste d'enseignants qui te seront proposés selon tes besoins, tu choisisras celui que tu préfère.</p>
  </div>

  <div class="etape">
    <h2>3. Planifie tes cours</h2>
    <p>Une page de messagerie te permettra de planifier tes cours avec ton enseignant et discuter avec lui.</p>
  </div>


{% endblock %}


