{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}
        Trouve l'enseignant idéal pour toi !
        <button type="button" class="buttonprincipale"><a href="{{ url_for('search.research_teacher') }}">Rechercher</a></button>
        {% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="middle-section">
        <p>Comment trouver le meilleur enseignant selon tes besoins ?</p>
    </div>

    <div class="etape1">
        <h2>1. Sélectionne tes besoins </h2>
        <p>Tout d'abord, sélectionne ton niveau scolaire, puis la branche dans laquelle tu as besoin de cours de soutien, et enfin, indique si tu préfères des cours à domicile ou en ligne.</p>
    </div>

    <div class="etape2">
        <h2>2. Choisis un enseignant </h2>
        <p>Parmi la liste d'enseignants qui te sera proposée selon tes besoins, tu pourras choisir celui que tu préfères.</p>
    </div>

    <div class="etape3">
        <h2>3. Planifie tes cours </h2>
        <p>Une page de messagerie te permettra de planifier tes cours avec ton enseignant et de discuter avec lui.</p>
    </div>

    <div class="black-band">
        <p>À propos ? | Comment me contacter ?</p>
        <p>Joana Silva Gonçalves | +41 78 960 98 99</p>
    </div>
{% endblock %}
