{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Enseignants correspondant à votre recherche :{% endblock %}</h4>
{% endblock %}

{% block content %}
        {% if teachers %}
            <ul>
                {% for user in teachers %}
                    <form class="custom-form" method="post" action="{{ url_for('home.list_teacher') }}">
                    <div class="teacher-info-box2">
                        <a class="link-style" href="{{ url_for('user.count_teacher', teacher_id=user['id']) }}">{{ user['username'] }}</a>
                        <h6>Niveaux enseignés: </h6>
                            <ul>
                                {% for level in levels_teacher %}
                                    <li>{{ level.level_name }}</li>
                                    {% endfor %}
                            </ul>
                        <h6>Matières enseignées:</h6>
                            <ul>
                                {% for subject in subjects_teacher %}
                                    <li>{{ subject.subject_name }}</li>
                                    {% endfor %}
                            </ul>
                        <h6>Types de cours:</h6>
                            <ul>
                                {% for course_type in course_types %}
                                    <li>{{ course_type.course_type_name }}</li>
                                    {% endfor %}
                            </ul>
                    </div>
                    </form>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun enseignant trouvé.</p>
        {% endif %}
    </form>
{% endblock %}