
  {% extends 'base.html' %}

  {% block header %}
      <h1>Résultats de la recherche d'enseignants</h1>
  {% endblock %}
  
  {% block content %}
      {% if teachers %}
          <ul>
              {% for teacher in teachers %}
                  <li>{{ teacher.username }} - {{ teacher.email }} - {{ teacher.telephone }}</li>
              {% endfor %}
          </ul>
      {% else %}
          <p>Aucun enseignant trouvé.</p>
      {% endif %}
  
      <form method="post">
          {% if selected_teacher %}
              <div class="teacher">
                  <img src="{{ selected_teacher.image }}" alt="{{ selected_teacher.username }}">
                  <div class="teacher-info">
                      <h2>{{ selected_teacher.username }}</h2>
                      <p class="teacher-description">{{ selected_teacher.description }}</p>
                      <p class="teacher-rating">Note : {{ selected_teacher.rating }}/5</p>
                      <p>Tarif : {{ selected_teacher.rate }} CHF/h</p>
                  </div>
              </div>
          {% endif %}
      </form>
  {% endblock %}
  