{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Enseignants correspondant à votre recherche :{% endblock %}</h4>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('home.list_teacher') }}">
        {% if teachers %}
            <ul>
                {% for user in teachers %}
                <form method="post" action="{{ url_for('home.list_teacher') }}"></form>
                    <a class="link-style" href="{{ url_for('user.count_teacher', teacher_id=user['id']) }}">{{ user['username'] }}</a>
                    <ul>
                        <li>Niveaux enseignés: </li>
                        {% for level in levels_teacher %}
                            <li>{{ level.level_name }}</li>
                        {% endfor %}
                        <li>Matières enseignées: </li>
                        {% for subject in subjects_teacher %}
                            <li>{{ subject.subject_name }}</li>
                        {% endfor %}
                        <li>Types de cours:</li>
                        {% for course_type in course_types %}
                            <li>{{course_type.course_type_name}}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun enseignant trouvé.</p>
        {% endif %}
    </form>
{% endblock %}