{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Trouve un enseignant{% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post" action="{{ url_for('home.list_teacher') }}">
    <h2>Choisis ton niveau scolaire</h2>
    <div class="options">
      <select name="level" required>
        <option value="" disabled selected>Choisissez un niveau</option>
        {% for level in levels %}
                <option value="{{ level.level_id }}">{{ level.level_name  }}</option>
            {% endfor %}
      </select>
    </div>

    <h2>Choisis le type de cours qui te convient</h2>
    <div class="options">
      <select name="course_type" required>
        <option value="" disabled selected>Choisissez le type de cours</option>
        {% for course_type in course_types %}
                <option value="{{ course_type.course_type_id }}">{{ course_type.course_type_name  }}</option>
            {% endfor %}
  </select>
</div>

    <h2>Choisis une matières</h2>
    <div class="options">
      <select name="subject" required>
        <option value="" disabled selected>Choisissez une matière</option>
        {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
           {% endfor %}
    </select>
  </div>

    <input type="submit" value="Inscription">
  </form>
{% endblock %}