{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Trouve un enseignant{% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post" action="{{ url_for('home.list_teacher') }}">
    <h2>Choisis ton niveau scolaire</h2>
    <div class="options">
      <select name="level" required>
        <option value="" disabled selected>Choisissez un niveau</option>
        <option value="primaire">Primaire</option>
        <option value="secondaire1">Secondaire 1</option>
        <option value="secondaire2">Secondaire 2</option>
        <option value="hauteecole">Haute école</option>
      </select>
    </div>

    <h2>Choisis le type de cours qui te convient</h2>
    <div class="options">
      <select name="course_type" required>
        <option value="" disabled selected>Choisissez un type de cours</option>
        <option value="enligne">En ligne</option>
        <option value="cheztoi">Autour de chez toi</option>
      </select>
    </div>

    <h2>Choisis les matières</h2>
    <div class="options">
        <label><input type="checkbox" name="subjects[]" value="francais"> Français</label>
        <label><input type="checkbox" name="subjects[]" value="mathematique"> Mathématique</label>
        <label><input type="checkbox" name="subjects[]" value="allemand"> Allemand</label>
        <label><input type="checkbox" name="subjects[]" value="anglais"> Anglais</label>
        <label><input type="checkbox" name="subjects[]" value="geographie"> Géographie</label>
        <label><input type="checkbox" name="subjects[]" value="physique"> Physique</label>
        <label><input type="checkbox" name="subjects[]" value="chimie"> Chimie</label>
        <label><input type="checkbox" name="subjects[]" value="biologie"> Biologie</label>
        <label><input type="checkbox" name="subjects[]" value="histoire"> Histoire</label>
        <label><input type="checkbox" name="subjects[]" value="economie"> Economie</label>
    </div>

    <input type="submit" value="Inscription">
  </form>
{% endblock %}
