{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Compte de {{ teacher['username'] }}{% endblock %}</h3>
  <p>Note attribué : {{ total }}</p>
{% endblock %}

{% block content %}
    {% if teacher %}
        <h5>A propos : </h5>
        <div class="teacher-info-box">
            <ul>
                <h6>Niveaux enseignés: </h6>
                <ul class="info-list">
                    {% for level in levels_teacher %}
                        <li>{{ level.level_name }}</li>
                    {% endfor %}
                </ul>
                <h6>Matières enseignées:</h6>
                <ul class="info-list">
                    {% for subject in subjects_teacher %}
                        <li>{{ subject.subject_name }}</li>
                    {% endfor %}
                </ul>
                <h6>Types de cours:</h6>
                <ul class="info-list">
                    {% for course_type in course_types %}
                        <li>{{ course_type.course_type_name }}</li>
                    {% endfor %}
                </ul>
            </ul>
        </div>


        <form action="{{ url_for('user.average_grade', teacher_id=teacher['id']) }}" method="POST">
            <label for="grade">Entrez votre note:</label>
            <input type="num" id="grade" name="grade" min="1">
            <input type="submit" value="Soumettre">
        </form>

 

        <button id="followButton"><a href="{{ url_for('user.follow', teacher_id=teacher['id']) }}">Suivre {{ teacher['username'] }}</a></button>
        <button id="followButton"><a href="{{ url_for('user.follow', teacher_id=teacher['id']) }}">Ne plus suivre {{ teacher['username'] }}</a></button>
        <button id="followButton"><a href="{{ url_for('user.follow', teacher_id=teacher['id']) }}">Discuter avec {{ teacher['username'] }}</a></button>
    {% endif %}
{% endblock %}