{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Profil de l'utilisateur connecté {% endblock %}</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <div class="profile">
        <div class="profile-info">
            <h2>{{ g.user['username'] }}</h2>
            {% if g.user['photo'] %}
                <div class="profile-photo">
                    <img src="{{ url_for('static', filename=g.user['photo']) }}" alt="{{ g.user['username'] }}'s Photo">
                </div>
            {% else %}
                <div class="profile-initial">{{ g.user['username'][0] }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}





