{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Choisis ton niveau scolaire{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <h2>Choisis ton niveau scolaire</h2>
    
    <p>
      <button type="button">Primaire</button>
    </p> 

    <p>
      <button type="button">Secondaire 1</button>
    </p>

    <p>
        <button type="button">Secondaire 2</button>
    </p>

    <p>
        <button type="button">Haute école</button>
    </p>

    <h2>Choisis le type de cours qui te convient</h2>
    
    <p>
      <button type="button">En ligne</button>
    </p> 

    <p>
      <button type="button">A domicile</button>
    </p>

    <h2>Choisis une matière</h2>
    
    <p>
      <button type="button">En ligne</button>
    </p> 

    <p>
      <button type="button">A domicile</button>
    </p>