body {
  background: white;
}

/*title*/

h1{
  background: rgb(254, 196, 196); 
  padding: 6%;
  border-radius: 30px;
  margin : 3% auto; 
  font-size: 7vw; 
  margin-bottom: 10%; 
  max-width: 70%;
}


h3{
  color: black; 
  font-size: 5vw;
  text-align: center;
}


h4{
  color: black; 
  font-size: 3vw;
  text-align: center;
}

h5{
  color: black; 
  font-size: 2.5vw;
}

h6{
  color: black; 
  font-size: 1.5vw;
}

/*input*/ 
input[type="checkbox"] {
  margin-right: 0.1%; 
  margin-bottom: 0%; 
}

p{
  font-size: 1.2vw; 
}

input,
select,
textarea {
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0) ;
  border-radius: 4px;
  font-size: 1vw;
}

input[type="submit"] {
  background-color: black;
  color: white ;
  font-size: 1vw;
  padding: 1.5% 4%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: black;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid red;
}

.button a {
  color: white; 
  text-align: center;
  text-decoration: none; 
}

.button {
  background-color: rgba(8, 97, 60, 1); 
  width: 20%;
  height: 100%;
  border-radius: 60px; 
  border: 2px solid rgba(8, 97, 60, 1);
  font-size: 2vw;
}
.white-background {
  background-color: white;
}

.link-style{
  display: inline-block;
  font-size: 2.5vw;
  color: rgb(0, 0, 0); 
  margin-bottom : 2%; 
}


.changement-link {
  display: inline-block;
  color: rgb(27, 59, 201); 
  margin-left: 70%; 
  font-size: 1.1vw;
}

.custom-form {
  background-color: white; 
}


form {
  width: 100%;
  max-width: 56%;
  margin: auto;
  padding: 2%;
  background-color: rgb(205, 199, 199);
  border-radius: 8px;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 1.5vw;
}

div {
  margin-bottom: 2%;
}

.options-button {
  display: inline-block;
  padding: 1% 4%;
  margin: 0.4%;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-align: center;
}

.options-button:hover {
  background-color: rgb(255, 255, 255) ;
}
/*home*/
.buttonprincipale {
  background-color: rgba(8, 97, 60, 1); 
  width: 25%;
  height: 3.8vw;
  border-radius: 60px; 
  border: 2px solid rgba(8, 97, 60, 1);
  font-size: 2.5vw;
}
.middle-section {
  color: rgb(249, 238, 238);
  background-color: black;
  padding: 1%;
  border-radius: 30px;
  margin : 8%; 
  font-size: 2.5vw; 
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 130%;
}

.middle-section p {
  font-size: 3vw;
}
.etape1 h2,
.etape1 p,
.etape2 h2,
.etape2 p,
.etape3 h2,
.etape3 p {
  margin: 8% 0;
  font-size: 2vw;
}

.etape1 {
  color: black;
  background-color: rgb(254, 196, 196);
  font-size: 2vw; 
  padding: 2%;
  border-radius: 25px; 
  margin: 8% auto; /* Marge de 10px en haut et en bas, 8px à gauche et à droite */
  width: 22%;
}

.etape2 {
  color: white;
  background-color: rgba(8, 97, 60, 1);
  font-size: 2vw; 
  padding: 2%;
  border-radius: 25px; 
  margin: 8% auto; /* Marge de 10px en haut et en bas, 8px à gauche et à droite */
  width: 22%;
}


.black-band {
  background-color: black;
  color: white;
  padding: 1%;
  text-align: center;
  width: 100%;
}
.buttonprincipale a {
  color: white; 
  text-decoration: none;
  text-align: center;
  font-size: 2.2vw;
}

/*barre de navigation*/

.top-nav {
  background-color: white;
  color: black ;
  padding: 3% 0;
  text-align: center;
}

.top-nav ul li {
  display: inline;
  margin-right: 2%;
}

.top-nav ul li a {
  text-decoration: none;
  color: black ;
  font-size: 2.5vw;
}

.exit-arrow{
  font-size: 2.5vw; 
  color:#000000;
  text-decoration: none;
}
/*profile picture */

.avatar-container2 {
  display: flex;
  align-items: left;
  justify-content: left; 
}
.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.avatar2 {
  width: 5vw;
  height: 5vw;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  font-size: 2.5vw;
  margin-right: 3%; 
  background-color: blue;
}

.image{
  width: 7vw; 
  height: 7vw;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.image2{
  width: 5vw; 
  height: 5vw;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.avatar {
  width: 7vw; 
  height: 7vw;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  font-size: 3vw; 
  margin-right: 2%; 
  background-color: blue;
}

/*teacher register or teacher count modification*/

.button_case_emplacemet {
  display: flex;
  flex-wrap: wrap; 
  gap: 1%; 
}

.button_case {
  position: relative;
  width: 25%;
  height: 15px;
  border-radius: 60px;
  font-size: 1vw;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 2% 2%; 
  display: inline-block;
  margin-right: 3%; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  cursor: pointer; 
}

.button_case input[type="checkbox"] {
  position: absolute; 
  left: 35%;
  top: 50%; 
  transform: translateY(-50%); 
  display: right;
}

.button_case:hover {
  background-color: #e0e0e0; 
}

.button_case input[type="checkbox"] + label {
  cursor: pointer; 
}

/*select role*/
.button-container {
  text-align: center; 
}
.button-wrapper {
  margin: 2%; 
}

.register-link {
  display: inline-block; 
  min-width: 50%; 
  height: 70px;  
  text-align: center; 
  background-color: rgba(8, 97, 60, 1); 
  border-radius: 60px; 
  color: white; 
  font-size: 2vw;
}

/*messaging*/ 
.message-bubble.sent {
  background-color: rgba(8, 97, 60, 1);
  padding: 0.5%;
  border-radius: 10px;
  margin-bottom: 2%; 
  max-width: 50%;
  position: relative;
  right: -60%;

}
.message-content.sent {
  color:white;
}

.message-content.received {
  color:white;
}
.message-bubble.received {
  background-color:rgb(6, 6, 6);
  color: white;
  padding: 0.5%;
  border-radius: 10px;
  margin-bottom: 2%; 
  max-width: 50%;
  position: relative;
  right:20%;
}

.message-date {
  font-size: smaller;
  position: absolute;
  bottom: 0.5%;
  right: 1%;
  color: white; 
}

.message-content {
  font-size: 1.5vw; 
  color:rgb(0, 0, 0)
}

/*liste teacher*/ 
.info-container2 {
  margin-bottom: 2%;
}


.info-title2 {
  display: inline;
}

.info-content2 {
  display: inline-block;
  font-size: 1.5vw;
}

.info-price {
  display: inline-block;
  float: right;
  font-size: 1.5vw;
}

.teacher-info-box2 {
  border: 2px solid black; 
  padding: 1.5%;
  margin-left: 2%; 
  margin-right: 2%;
}

/*count teacher*/ 
.propos {
  display: flex;
  margin-left: 20%; 
}

.followed-button a {
  color: rgb(6, 0, 0); 
  text-align: center; 
}

.stars { 
  display: flex;
  justify-content: right;
  align-items: right;
}

.teacher-info-box {
  border: 2px solid black; 
  padding: 1.5%;
  margin-left: 20%; 
  margin-right: 20%;
}

.button_count{
  color: white; 
  background-color:rgba(8, 97, 60, 1) ;
  border: 2px solid rgba(8, 97, 60, 1);
  position: relative;
  width: 28%;
  height: 60px;
  border-radius: 60px;
  font-size: 1vw;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 2% 2%; 
  margin-top: 2%;
}

.followed-button {
  background-color:  rgb(254, 196, 196); 
  height: 5vw;
  min-width: 30% ;
  border-radius: 60px; 
  border: 2px solid rgba(254, 196, 196);
  font-size: 2vw;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 3%;
  margin-right: 3%;
}
.follow-button {
  color: white;
  margin-left: 75%;
  margin-bottom:2%;
}
.messagerie-button{ 
  color: white;
  margin-left: 55%;
}
.count{
  color:#fff;
}
.button_count_emplacement{
  display: flex;
  flex-wrap: wrap; 
  gap: 43%; 
}

/*profil*/

.teacher-names {
  display: flex;
  flex-wrap: wrap;
  gap: 1%; 
}