body {
  background: white;
}

.message-bubble.sent {
  background-color: rgba(8, 97, 60, 1);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px; 
  max-width: 50%;
  position: relative;
  right: -60%;

}
.message-content.sent {
  color:white;
}

.message-content.received {
  color:white;
}
.message-bubble.received {
  background-color:rgb(6, 6, 6);
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px; 
  max-width: 50%;
  position: relative;
  right:20%;
}

.message-date {
  font-size: smaller;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.message-content {
  font-size: 20px; 
  color:rgb(0, 0, 0)
}

h1{
  background: rgb(254, 196, 196); 
  padding: 100px;
  border-radius: 30px;
  margin : 10px auto; 
  font-size: 7em; 
  margin-bottom: 200px; 
  max-width: 1100px;
}

h3{
  color: black; 
  font-size: 80px;
  text-align: center;

}


h4{
  color: black; 
  font-size: 50px;
  text-align: center;

}

h5{
  color: black; 
  font-size: 30px;
}

h6{
  color: black; 
  font-size: 20px;
}


.button-container {
  text-align: center; 
}
.button-wrapper {
  margin: 20px; 
}
.button a {
  color: white; /* Couleur du texte */
  text-align: center;
  text-decoration: none; /* Supprime le soulignement du lien */
}

.followed-button a {
  color: rgb(6, 0, 0); /* Couleur du texte */
  text-align: center; /* Supprime le soulignement du lien */
}
.buttonprincipale a {
  color: white; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement du lien */
  text-align: center;
}
.followed-button {
  background-color:  rgb(254, 196, 196); 
  width: 15%;
  height: 60px;
  border-radius: 60px; 
  border: 2px solid rgba(254, 196, 196);
  font-size: 1.5em;
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center;
  width: 25%;
}
.follow-button {
  color: white;
  margin-left: 75%;
  margin-bottom:20px;
}
.messagerie-button{ 
  color: white;
  margin-left: 55%;
}

.buttonprincipale {
  background-color: rgba(8, 97, 60, 1); 
  width: 20%;
  height: 60px;
  border-radius: 60px; 
  border: 2px solid rgba(8, 97, 60, 1);
  font-size: 0.25em;
}

.button {
  background-color: rgba(8, 97, 60, 1); 
  width: 20%;
  height: 60px;
  border-radius: 60px; 
  border: 2px solid rgba(8, 97, 60, 1);
  font-size: 1em;
}
.white-background {
  background-color: white;
}
.register-link {
  display: inline-block; 
  width: 50%; 
  height: 50px; 
  line-height: 30px; 
  text-align: center; 
  background-color: rgba(8, 97, 60, 1); 
  border-radius: 60px; 
  color: white; 
  font-size: 2em;
}

.button-container2 {
  text-align: center; 
}
.button-wrapper2 {
  margin: 20px; 
}

.register-link2 {
  display: inline-block; 
  width: 50%; 
  height: 50px; 
  line-height: 30px; 
  text-align: center; 
  background-color:  rgb(254, 196, 196); 
  border-radius: 60px; 
  color: black; 
  font-size: 2em;
}
.teacher-info-box {
  border: 2px solid black; 
  padding: 15px;
  margin-left: 320px; 
  margin-right: 320px;
  
}

.teacher-info-box2 {
  border: 2px solid black; 
  padding: 15px;
  margin-left: 50px; 
  margin-right: 50px;
  
}
.propos {
  display: flex;
  margin-left: 20%; /* Décalage de 25% à droite */
}


.stars { 
  display: flex;
  justify-content: right;
  align-items: right;
}
.info-list {
  list-style: none; /* Supprimer les puces de la liste */
  padding: 0; /* Réinitialiser la marge intérieure de la liste */
}

.info-list li {
  display: inline-block; /* Afficher les éléments de liste en ligne */
  margin-right: 10px; /* Ajouter un espacement entre les éléments */
}
.link-style{
  display: inline-block;
  font-size: 30px;
  color: rgb(0, 0, 0); 
  margin-bottom : 20px; 
}
.info-container2 {
  margin-bottom: 15px;
}

.info-title2 {
  display: inline;
}

.info-content2 {
  display: inline-block;
}

.info-price {
  display: inline-block;
  float: right;
}

.changement-link {
  display: inline-block;
  color: rgb(27, 59, 201); 
  margin-left: 70%; 
}

.custom-form {
  background-color: white; 
}

.teacher-names {
  display: flex;
  flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
  gap: 10px; /* Espacement entre les boutons */
}
.middle-section {
  color: rgb(249, 238, 238);
  background-color: black;
  padding: 10px;
  border-radius: 30px;
  margin : 10px auto; 
  font-size: 1em; 
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
}

.middle-section p {
  font-size: 55px;
}
.etape1 h2,
.etape1 p,
.etape2 h2,
.etape2 p,
.etape3 h2,
.etape3 p {
  margin: 20px 0;
  font-size: 35px;
}
.etape1 {
  position: relative;
  top: 100px; 
  color: black;
  background-color: rgb(254, 196, 196);
  text-align: center ;
  font-size: 1.5em; 
  padding: 20px;
  border-radius: 25px; 
  padding: 10px;
  margin: 10px 0;
  margin-left: 80px;
  text-align: left;
  display: block;
  width: 350px;
  height: 500px;
}

.etape2 {
  position: relative;
  top: -430px;
  color: white;
  background-color: rgba(8, 97, 60, 1);
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 25px;
  margin: 10px 0;
  right: -505px; 
  text-align: left;
  display: block;
  width: 350px;
  height: 490px;
}

.etape3 {
  position: relative;
  top: -970px;
  color: black;
  background-color: rgb(254, 196, 196);
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 25px;
  margin: 10px 0;
  right: -950px; 
  text-align: left;
  display: block;
  width: 400px;
  height: 500px;
}

.black-band {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.top-nav {
    background-color: white;
    color: black ;
    padding: 30px 0;
    text-align: center;
}

.top-nav ul li {
    display: inline;
    margin-right: 20px;
}

.top-nav ul li a {
    text-decoration: none;
    color: black ;
    font-size: 40px;
}


form {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: rgb(205, 199, 199);
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.2em;
}

input[type="checkbox"] {
  margin-right: 8px; 
  margin-bottom: 0px; 
}



input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0) ;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: black;
  color: white ;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: black;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid red;
}

div {
  margin-bottom: 8px;
}


.options-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-align: center;
}

.options-button:hover {
  background-color: rgb(255, 255, 255) ;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-header {
    text-align: center;
}

.profile-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile-info {
    text-align: center;
}

.profile-photo img {
    max-width: 200px;
    border-radius: 50%;
    margin-left: -300px; 
    margin-top: -200px;
}

.profile-initial {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: #fff;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: -300px; 
  margin-top: -200px;
}









