{% extends 'base.html' %}

{% block header %}
    <h4>{% block title %}Enseignant(s) correspondant à votre recherche :{% endblock %}</h4>
{% endblock %}

{% block content %}
    <form class="custom-form" method="post" action="{{ url_for('search.list_teacher') }}">
        {% if list_teachers %}
            <ul>
                {% for user in list_teachers %}
                    <div class="teacher-info-box2">
                        <div class="avatar-container2">
                            {% if g.user['photo'] %}
                                <img src="{{ user[0]['photo'] }}" alt="Photo de profil de {{ user[0]['username'] }}" class="avatar2">
                            {% else %}
                                <div class="avatar2" style="background-color: {{ color_hex}};">
                                    {{ user[0]['username'][0].upper() }}
                                </div>
                            {% endif %}
                            <a class="link-style" href="{{ url_for('user.count_teacher', teacher_id=user[0].id) }}">{{ user[0].username }}</a>
                        </div>
                        <div class="info-container2">
                            <h6 class="info-title2">Niveaux enseignés: </h6>
                            <span class="info-content2">
                                {% set levels = [] %}
                                {% for level in user[1] %}
                                    {% set _ = levels.append(level.level_name) %}
                                {% endfor %}
                                {{ levels|join(', ') }}
                            </span>
                        </div>
                        <div class="info-container2">
                            <h6 class="info-title2">Matières enseignées:</h6>
                            <span class="info-content2">
                            {% set subjects = [] %}
                            {% for subject in user[2] %}
                                {% set _ = subjects.append(subject.subject_name) %}
                            {% endfor %}
                            {{ subjects|join(', ') }}
                            </span>
                        </div>
                        <div class="info-container2">
                            <h6 class="info-title2">Types de cours:</h6>
                            <span class="info-content2">
                                {% set course_types = [] %}
                                {% for course_type in user[3] %}
                                    {% set _ = course_types.append(course_type.course_type_name) %}
                                {% endfor %}
                                {{ course_types|join(', ') }}
                            </span>
                            <p class="info-price">{{ user[4] }}CHF</p>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun enseignant trouvé.</p>
        {% endif %}
    </form>
{% endblock %}

