{% extends 'base.html' %}

{% block content %}
<form class="custom-form" method="post" action="{{ url_for('messaging.messaging') }}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>From User</th>
                        <th>To User</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message.content }}</td>
                        <td>{{ message.from_user }}</td>
                        <td>{{ message.to_user }}</td>
                        <td>{{ message.date_message }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</form>
    <form action="{{ url_for('messaging.messaging') }}" method="post">
        <label for="content">Message:</label><br>
        <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
        <input type="hidden" id="to_user" name="to_user" value="{{to_user}}">
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}