{% extends 'base.html' %}

{% block header %}
    <h3>{{ to_user_name }}</h3>
{% endblock %}

{% block content %}
    <form class="custom-form" method="post" action="{{ url_for('messaging.messaging') }}">
        {% for message in messages %}
            <div class="message-bubble {% if message.from_user == g.user['username'] %}sent{% else %}received{% endif %}">
                <p class="message-content {% if message.from_user == g.user['username'] %}sent{% else %}received{% endif %}">{{ message.content }}</p>
                <p class="message-date">{{ message.date_message }}</p>
            </div> 
        {% endfor %}
    </form>
    <form action="{{ url_for('messaging.messaging') }}" method="post" class="white-background">
        <textarea id="content" name="content" rows="4" cols="50" placeholder="Envoyer un message"></textarea><br>
        <input type="hidden" id="to_user" name="to_user" value="{{ to_user }}">
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}