

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="top-nav">
        <ul>
            <li><strong><a href="#">SchoolHelp</a></strong></li>
            <li><a href="{{ url_for('home.landing_page') }}">Home</a></li>
            <li><a href="{{ url_for('home.research_teacher') }}">Rechercher un enseignant</a></li>
            <li><a href="{{ url_for('auth.register') }}">Donner un cours</a></li>
            {% if g.user %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                <li><a href="{{ url_for('user.show_profile') }}">{{ g.user['username'] }}</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>